.linkedIn {
  margin-top: 3%;
  margin-bottom: 3%;
  padding: 4% 8%;
  font-size: 1.5rem;
  background-color: #0e76a8;
  color: white;
}
.linkedIn:hover {
  opacity: 0.7;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  max-width: 100%;
  font-family: 'Archivo Narrow', sans-serif;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Archivo Narrow', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Julius Sans One', sans-serif;
}
.container {
  width: 100%;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 20%;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  width: 100%;
  position: fixed;
  top: 0;
}
@media (max-width: 1150px) {
  .nav {
    flex-direction: column;
  }
}
@media (max-width: 900px) {
  .nav {
    flex-direction: row-reverse;
    padding: 1% 0;
  }
}
.nav h1 {
  font-size: 3rem;
}
@media (max-width: 900px) {
  .nav h1 {
    text-align: center;
    margin-right: 28%;
  }
}
@media (max-width: 750px) {
  .nav h1 {
    margin-right: 20%;
  }
}
.nav .links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
  font-size: 2rem;
}
@media (max-width: 900px) {
  .nav .links {
    flex-direction: column;
    width: 20%;
  }
}
.nav .links a {
  text-decoration: none;
  color: white;
}
footer {
  background-color: black;
  color: white;
}
footer div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 20%;
  width: 100%;
}
@media (max-width: 1150px) {
  footer div {
    flex-direction: column;
  }
}
footer div h2 {
  font-size: 2.5rem;
}
@media (max-width: 500px) {
  footer div h2 {
    font-size: 2rem;
  }
}
footer div .links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  font-size: 1.5rem;
}
footer div .links a {
  text-decoration: none;
  color: white;
}
footer p {
  text-align: center;
  font-size: 1.5rem;
  padding: 1% 0;
}
.middleimg {
  background-image: url("https://images.unsplash.com/photo-1487235829740-e0ac5a286e1c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1348&q=80");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 60vh;
}
@media (max-width: 1150px) {
  .middleimg {
    height: 40vh;
  }
}
@media (max-width: 950px) {
  .middleimg {
    height: 30vh;
  }
}
@media (max-width: 750px) {
  .middleimg {
    height: 25vh;
  }
}
.middleimg .headerPic {
  padding-top: 5%;
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 500px) {
  .middleimg .headerPic {
    padding-top: 15%;
  }
}
.mood {
  width: 1150px;
  margin: 0 auto;
}
.mood h2 {
  font-size: 3rem;
  text-align: center;
  padding: 2% 0;
}
.mood div {
  display: flex;
}
@media (max-width: 750px) {
  .mood div {
    flex-wrap: wrap;
  }
}
.mood div div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-size: 2.7rem;
}
@media (max-width: 750px) {
  .mood div div {
    width: 48%;
  }
}
.mood div div img {
  width: 95%;
}
.mood div div p {
  padding: 2% 0;
}
.mood div div a {
  text-decoration: none;
  text-align: center;
  color: black;
}
.mood div div a:hover {
  opacity: 0.7;
}
.info {
  width: 1150px;
  margin: 0 auto;
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 500px) {
  .info {
    flex-wrap: wrap;
  }
}
.info div {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
@media (max-width: 500px) {
  .info div {
    width: 100%;
  }
}
.info div h3 {
  font-size: 2rem;
  padding: 1%;
}
.info div p {
  font-size: 1.5rem;
  line-height: 23px;
  padding: 2%;
}
.tryOut {
  width: 1150px;
  margin: 0 auto;
  text-align: center;
  padding-top: 2%;
}
.tryOut p {
  font-size: 2.5rem;
}
.tryOut button {
  margin: 3% 0;
  font-size: 2rem;
  background-color: #1DB954;
  padding: 1.5% 6%;
  border-radius: 8px;
  color: white;
  text-decoration: none;
}
.tryOut button:hover {
  opacity: 0.7;
}
.aboutimg {
  width: 100%;
  height: auto;
}
.meet {
  width: 1150px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.meet h1 {
  width: 1150px;
  font-size: 7rem;
  text-align: center;
}
.meet a {
  margin-left: auto;
  margin-right: auto;
  margin: 1% 0;
  border: 1px solid black;
  padding: 2% 5%;
  font-size: 2rem;
  text-decoration: none;
  color: white;
  background-color: black;
}
.meet a:hover {
  opacity: 0.8;
}
.team {
  width: 1150px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  padding: 1% 4%;
}
.team div {
  margin: 1% 0;
}
.team div img {
  width: 250px;
}
.team div h3 {
  padding: 2%;
  font-size: 2rem;
}
.team div p {
  padding: 2%;
  font-size: 1.5rem;
}
.team div button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3%;
  margin-bottom: 3%;
  padding: 4% 8%;
  font-size: 1.5rem;
  background-color: #0e76a8;
  color: white;
}
.team div button:hover {
  opacity: 0.7;
}
