// about page styling

.aboutimg{
    width:100%;
    height:auto;
    
}

.meet{
    width:1150px;
    margin-left:auto;
    margin-right: auto;
    .displayflex(center,center);
    flex-direction:column;

    h1{
        width:1150px;
        font-size:7rem;
        text-align:center;
    }
    a{
        margin-left:auto;
        margin-right: auto;
        margin:1% 0;
        .github();
    }
}

.team{
    width:1150px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left:auto;
    margin-right:auto;
    flex-wrap: wrap;
    padding:1% 4%;
    
    div{
        margin:1% 0;
        img{
            width:250px;
        }
        h3{
            padding:2%;
            font-size:2rem;
        }
        p{
            padding: 2%;
            font-size:1.5rem;
        }
        button{
            display:block;
            margin-right:auto;
            margin-left:auto;
            .linkedIn();
        }
    }
}
