.middleimg{
    background-image:url("https://images.unsplash.com/photo-1487235829740-e0ac5a286e1c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1348&q=80");
    background-size:cover;
    background-position: center;
    width: 100%;
    height:60vh;
    
    @media @1150{
        height:40vh;
    }

    @media @950{
        height:30vh;
    }
    @media @750{
        height:25vh;
    }

    @media @400{
        height:20vh;
    }
    .headerPic{
        padding-top:5%;
        width:30%;
        
        display:block;
        margin-left:auto;
        margin-right: auto;

        @media @500{
            padding-top:15%;
        }
    }
}
.mood{
    width: 1150px;
    margin: 0 auto;
    

    h2{
        font-size:3rem;
        text-align: center;
        padding: 2% 0;
    }
    div{
        display:flex;

        @media @750{
        flex-wrap:wrap;
        }
        div{
            .displayflex(space-evenly, center);
            flex-direction: column;
            width:100%;
            font-size:2.7rem;
            
            @media @750{
                width:48%;
            }

            img{
                width:95%;
            }
            p{
                padding:2% 0;
            }
            a{
                text-decoration:none;
                text-align:center;
                color:black;

                &:hover{
                    opacity:0.7;
                }
            }
        }
    }
}

.info{
    width: 1150px;
    margin: 0 auto;
    margin-top:2%;
    .displayflex(space-between,flex-start);

    @media @500{
        flex-wrap:wrap;
    }

    div{
        width:30%;
        .displayflex(center, flex-start);
        flex-direction: column;

        @media @500{
            width:100%;
        }

        h3{
            font-size:2rem;
            padding:1%;
        }
        p{
            font-size:1.5rem;
            line-height:23px;
            padding:2%;
        }
    }
}

.tryOut{
    width:1150px;
    margin: 0 auto;
    text-align: center;
    padding-top: 2%;

    p{
        font-size:2.5rem;        
    }
    button{
        margin:3% 0;
        .signUp();
    }
}





